@page "/about"

<Client.Components.Public.Shared.Navbar/>

<main class="container min-vh-90 py-md-5">
    <div class="row p-4 mt-nd-5 shadow-no-hover">
        <div class="col">
            <h3 class="text-primary">Who am I?</h3>
            <h2>I'm Breno Trindade, a passionate .NET Developer</h2>
            <p class="d-inline-flex">
                I am a software developer that specializes in .NET and Azure development.
                <br/>
                <br/>
                Solving problems with software is fun to me.
                <br/>
                <br/>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa tempor nec feugiat nisl pretium fusce id. Ac tincidunt vitae semper quis lectus. Imperdiet sed euismod nisi porta lorem mollis aliquam. Facilisis sed odio morbi quis commodo odio aenean sed adipiscing. At consectetur lorem donec massa sapien. Facilisi etiam dignissim diam quis enim. Nulla pellentesque dignissim enim sit amet venenatis urna. Velit egestas dui id ornare arcu. Porttitor lacus luctus accumsan tortor posuere ac ut consequat semper. Sit amet consectetur adipiscing elit ut aliquam purus sit amet. Adipiscing tristique risus nec feugiat in. Auctor neque vitae tempus quam pellentesque nec nam aliquam sem. Dui ut ornare lectus sit amet est placerat in egestas. Mauris rhoncus aenean vel elit. Vulputate ut pharetra sit amet aliquam id diam maecenas ultricies. Ornare aenean euismod elementum nisi quis eleifend quam adipiscing. Euismod in pellentesque massa placerat duis ultricies lacus. Nec nam aliquam sem et tortor consequat id porta. Gravida quis blandit turpis cursus in hac.

                
                <br/>
                <br/>

                <h2>Backgrond</h2>
                Pellentesque elit eget gravida cum sociis natoque penatibus et magnis. Ultrices neque ornare aenean euismod elementum nisi quis eleifend. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu. Urna et pharetra pharetra massa massa ultricies. Quam pellentesque nec nam aliquam sem et tortor consequat. Cras ornare arcu dui vivamus arcu felis bibendum ut tristique. Ut morbi tincidunt augue interdum velit euismod. Malesuada nunc vel risus commodo viverra maecenas. Morbi leo urna molestie at elementum eu facilisis. At risus viverra adipiscing at.
            </p>

            <hr/>

            <div class="row">
                <div class="col-md-6">
                    <a href="/assets/docs/test-pdf.pdf" download class="btn btn-primary shadow btn-lg d-flex justify-content-center align-items-center my-4">
                        <i class="fas fa-file-pdf"></i>&nbsp;View resume    
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="/portfolio" class="btn btn-secondary shadow btn-lg d-flex justify-content-center align-items-center my-4">
                        <i class="fas fa-project-diagram"></i>&nbsp;Projects
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

<Client.Components.Public.Shared.Footer/>
